@{
    ViewData["Title"] = "Datos Personales";
}

<h1>Datos Personales</h1>
<p>Esta es la pagina para ingresar datos personales</p>
<ul>
    <li>@ViewData["name"]</li>
    <li>@ViewData["edad"]</li>
    <li>@ViewData["celular"]</li>
    <li>@ViewData["correo"]</li>
</ul>